*.a filter=lfs diff=lfs merge=lfs -text
src/diag/openbcm_diag filter=lfs diff=lfs merge=lfs -text
src/diag/openbcm_diag_shell filter=lfs diff=lfs merge=lfs -text
src/diag/openbcm_no_shell filter=lfs diff=lfs merge=lfs -text
